################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/build
/buildLinux/CMakeFiles/3.18.6/CompilerIdC/a.out
/buildLinux
